<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>siteName</key>
		<string>fashionsnap.com</string>
		<key>siteUrl</key>
		<string>fashionsnap.com</string>
		<key>url</key>
		<string>https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fwww.fashionsnap.com%2Frss.xml</string>
		<key>favicon</key>
		<string>https://t1.gstatic.com/faviconV2?client=SOCIAL&amp;type=FAVICON&amp;fallback_opts=TYPE,SIZE,URL&amp;url=https://www.fashionsnap.com/&amp;size=16</string>
	</dict>
	<dict>
		<key>siteName</key>
		<string>fashionsnap.com</string>
		<key>siteUrl</key>
		<string>fashionsnap.com</string>
		<key>url</key>
		<string>https://api.rss2json.com/v1/api.json?rss_url=https://feeds.dailyfeed.jp/feed/s/5/961.rss</string>
		<key>favicon</key>
		<string>https://t1.gstatic.com/faviconV2?client=SOCIAL&amp;type=FAVICON&amp;fallback_opts=TYPE,SIZE,URL&amp;url=https://togetter.com/</string>
	</dict>
</array>
</plist>
